<input type="text" placeholder="targa" [(ngModel)]="auto.targa">
<input type="text" placeholder="modello" [(ngModel)]="auto.modello">
<input type="number" placeholder="cilindrata" [(ngModel)]="auto.cilindrata">
<button (click)="aggiungi()">Aggiungi</button>
<br>
<input type="text" placeholder="ricerca" [(ngModel)]="ricerca">
<button (click)="cerca()">Cerca</button>
<br>
<table>
  <tr>
    <th>Targa</th>
    <th>Modello</th>
    <th>Cilindrata</th>
    <th>Gestisci</th>
  </tr>
  <tr *ngFor="let a of automobili">
    <td>{{a.targa}}</td>
    <td>{{a.modello}}</td>
    <td>{{a.cilindrata}}</td>
    <td>
      <button (click)="elimina()">X</button>
      <button (click)="calcolaBollo()">Bollo</button>
    </td>
  </tr>
</table>
<br>
Bollo annuo € {{ bolloAnnuo }}
<hr>
<button (click)="resetDB()">Reset</button>
